<p-toast></p-toast>

<div class="row pt-4">
    <div class="col-sm-6">
        <div class="container">
            <div class="row mx-auto mt-3" style="margin-left:300px;">
                Input
            </div>
            <br /><br /><br />
            <div class="row">

                <table>
                    <tr>
                        <td class="spacing" >
                            <span style="display: inline;">Insert value for DOI</span>
                        </td>
                        <td class="spacing">
                            <input [(ngModel)]="doi" type="text" size="50" pInputText>
                        </td>
                    </tr>

                    <tr>
                        <td class="spacing">
                            <span>Computed for Computer Science</span>
                        </td>
                        <td class="spacing">
                            <p-radioButton value="1" class="ml-2" [(ngModel)]="value"></p-radioButton> <label
                                class="ml-2 mr-4">No</label>
                            <p-radioButton id="padding-radio" class="pl-4" value="2" [(ngModel)]="value">
                            </p-radioButton>
                            <label class="ml-2">Yes</label>
                        </td>
                    </tr>

                    <tr>
                        <td class="spacing">
                            <span>Show JSON</span>
                        </td>
                        <td class="spacing">
                            <p-radioButton value="1" class="ml-2" [(ngModel)]="valueJSON"></p-radioButton> <label
                                class="ml-2 mr-4">No</label>
                            <p-radioButton id="padding-radio" value="2" class="pl-4" [(ngModel)]="valueJSON"></p-radioButton> 
                            <label class="ml-2">Yes</label>
                        </td>
                    </tr>
                <br/>
                    <tr>
                        <td class="spacing">

                        </td>
                        <td class="mt-5">
                            <div class="row ml-4" style="width: 100px;display:inline">
                                <button type="button" class="btn btn-primary ml-2 mr-4" (click)="onSubmit()">Submit</button>
                                <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <br />

            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="container-md">
            <div class="row mx-auto mt-3" style="width: 100px;">
                Results
            </div>

            
            <br /><br />
            <div class="container-md ml-4">

                
                <p-panel #pnl header="Publication info" [style]="{'margin-top':'20px'}">
                    <p-blockUI [target]="pnl" [blocked]="blockedPanel"></p-blockUI>
                <table >
                    <tr>
                        <td>Type of publication</td>
                    </tr>
                    <tr>
                        <td>{{ result?.type }}</td>
                    </tr>
                    <br />

                    <tr>
                        <td>CNATDCU/CNFIS classification</td>
                    </tr>
                    <tr>
                        <td> {{ result?.cnatdcu }}</td>
                    </tr>
                    <br *ngIf="result?.isWOS"/>

                    <tr *ngIf="result?.isWOS">
                        <td>WOS number</td>
                    </tr>
                    <tr *ngIf="result?.isWOS">
                        <td>{{ result?.WOS }}</td>
                    </tr>
                    <br *ngIf="result?.isINFO"/>

                    <tr *ngIf="result?.isINFO">
                        <td>INFO classification</td>
                    </tr>
                    <tr *ngIf="result?.isINFO">
                        <td> {{ result?.INFO }}</td>
                    </tr>
                    <br />
                </table>
            </p-panel>
            </div>
        </div>
    </div>
    

