#padding-radio {
    padding-left: 2.6rem!important;
    vertical-align: top;
}


:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-message div {
    color: #ffffff;
}

:host ::ng-deep .custom-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
    color: #ffffff;
}

.spacing {
    padding-left: 20px;
}

.align-results {
    margin: 0px auto;
    width: 100%;
}

label {
    // font-family: "Times New Roman", Times, serif;
    font-family: "Lucida Console", Courier, monospace;
    
}
td {
    font-family: "Times New Roman", Times, serif;
    // font-family: "Lucida Console", Courier, monospace;
    
}
div {
    font-family:"Comic Sans MS", cursive, sans-serif;
}