<div class="container-fluid mt-4">
    
    <p-panel header="Detection of the type of publication for the URAP system">
        In this application you will enter two input values <br/>
        Digital Object Identifier (DOI) of the publication <br/>
        Answer to the question if it is computed for Computer Science 

        <br/>
        <br/>
        <br/>

        The publications can be of the following types:<br/>
        <span>&#8226; journal paper</span><br/>
        <span>&#8226; conference paper</span><br/>
        <span>&#8226; workshop paper</span><br/>
        <span>&#8226; book chapter</span><br/>
        <span>&#8226; book</span><br/>
        <span>&#8226; poster</span><br/>
        <span>&#8226; others</span>

        <br/>
        <br/>
        <br/>

        According to the national rules (CNATDCU/CNFIS), the publications can be classified according to the publication venue in (ISI means WOS in the next sections)<br/>
        <span>&#8226; NATURE</span><br/>
        <span>&#8226; ISI ROSU</span><br/>
        <span>&#8226; ISI GALBEN</span><br/>
        <span>&#8226; ISI ALB</span><br/>
        <span>&#8226; ISI ANH</span><br/>
        <span>&#8226; ISI ESCI</span><br/>
        <span>&#8226; ERIH INT1</span><br/>
        <span>&#8226; ERIH INT2</span><br/>
        <span>&#8226; ERIH PLUS</span><br/>
        <span>&#8226; ISI PROC</span><br/>
        <span>&#8226; IEEE PROC</span><br/>
        <span>&#8226; BREVET INT</span><br/>
        <span>&#8226; BREVET NAT</span><br/>
        <span>&#8226; unclassified</span>

    
        <!-- <br/>
        <br/>
        <br/> -->
        <!-- The algorithm identifies NATURE, ISI ROSU, ISI GALBEN, ISI ALB, ISI ESCI, ISI PROC, IEEE PROC and INFO classification. -->
    </p-panel>


</div>