.header-img {
    width: 100%;
    height: 400px;
    background: url('src/app/resources/header.jpg');
    background-size: cover;
    max-height: 100px;
    position: static;
  }

.menu {
  background-color: lightgoldenrodyellow;
}
span .ui-menuitem-text  {
  font-family:"Comic Sans MS", cursive, sans-serif;
}